@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.한글코딩 {}

.꼬리말 {
  height: 100px;
  background-color: #eee;
}

code {
  /* font-family: 'Noto Sans Mono CJK KR', monospace;*/
  font-family: 'Nanum Gothic Coding', 'Roboto Mono', 'Noto Sans KR', monospace;
}
