@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

.한글코딩 {}

h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.2rem;
}

body {
  font-family: "Roboto", "Noto Sans KR", "Helvetica Neue", sans-serif;
  background-color: #fdfdfd;
  color: #333;
}

blockquote {
  background-color: #f9f9f9;
}

.마크다운 ul, .마크다운 ol {
  background-color: #f9f9f9;
  border-left: 0.3rem solid #bbb;
  padding: 0.5rem 1rem;
}

.머리말 {
  background: #f4f5f6;
  border-bottom: .1rem solid #d1d1d1;
  display: block;
  height: 5.2rem;
  margin-bottom: 1rem;
  width: 100%;
}

.머리말 .제목 {
  color: #606c76;
  display: inline;
  line-height: 5.2rem;
  font-size: 2.5rem;
  padding: 0;
  position: relative;
  text-decoration: none;
}

.머리말-목록, .꼬리말-목록 {
  display: inline-block;
  list-style: none;
  margin-right: 0;
}

.머리말-목록-링크, .꼬리말-목록-링크 {
  display: inline;
  padding-left: 2rem;
  line-height: 5.2rem;
}

.꼬리말 {
  width: 100%;
  height: 10rem;
  padding: 1rem;
  background-color: #eee;
}

code, .CodeMirror {
  /* font-family: 'Noto Sans Mono CJK KR', monospace;*/
  font-family: 'D2Coding', 'Nanum Gothic Coding', monospace;
  font-size: 1.2rem;
}

.CodeMirror {
  border: .1rem solid #eee;
  border-left: .3rem solid #9b4dca;
  height: auto;
  background-color: #f0f0f0;
  padding-left: 0rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 60.0rem) {
  code, .CodeMirror {
    font-size: 1.4rem;
  }

  .CodeMirror {
    padding-left: .5rem;
    margin-bottom: 1rem;
  }
}

.container {
  max-width: 100rem;
}

.포장 {
  position: relative;
  overflow: hidden;
  width: 100%;
}

img.프로필 {
  width: 100%;
  padding: .5rem;
  border-radius: 50%;
}
